<!DOCTYPE html>
<html>
  <head>
  $for(author-meta)$
  <meta name="author" content="$author-meta$" />
  $endfor$
  $if(date-meta)$
  <meta name="date" content="$date-meta$" />
  $endif$
  $if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
  $endif$
  $if(math)$
  $math$
  $endif$
  <style type="text/css" media="screen">
     h1, h2, h3 {
         color: maroon;
     }
     a {
         color: maroon;
         text-decoration: none;
     }
  </style>

  <title>$title$ -- Proof Wiki</title>
  </head>
  <body>
    <a href="./index.html">
      <div id="back-div">back</div>
    </a>
    <div id="content" style="width:800px; margin:0 auto; padding-top:100px;">
      $if(title)$
      <div id="$idprefix$header">
      <h1 class="title">$title$</h1>
      $endif$
      <hr>

    $body$
    </div>
  </body>
</html>
